
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    width: 1024px;
}
/***** grandes banner *****/
.grandes{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 1024px;
    background: #222222;
    border-style: none;
    color: #F3F3F3;
    font-size: 10px;
    height: 20px;
}
#grandes2{
    display: flex;
    flex-direction: row;
}
#et{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    background:#222222;;
    color: #F3F3F3;
    border: none;

}

/***** Header ****/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    background-color: #F0A83E;
    color:  #F3F3F3;
    height: 62px;
    bottom: 1px;
    list-style: none;
}

nav ul{
    display: flex;
    align-content: right;
    font-size: 10px;
}
/***** Slide *****/
.slide{
    width: 1024px;
    height: 409px;
    background-image: url("img/Dogverde.png");
}
#slideTitle{
    position:absolute;
    left: 600px;
    top: 140px;
    background-color: #FFFFFF;
    width: 365px;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
}
#slideText{
    position: relative;
    width: 190px;
    height: 19px;
    left: 740px;
    top: 180px;
    font-size: 16px;
}
button{
    position: relative;
    left: 765px;
    top: 200px;
    background-color: #F0A83E;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    width: 141px;
    height: 49px;
}
button:hover{
    background-color: #8A8787;
    border-style: none;
    color: #fff;
}
/***** Products and Cards *****/
.Products{
    background-color: #FFFFFF;
    border-style: none;
    color: #3C2313;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
#huellaprodutcs{
    margin-top: 13px;
}
.productsNav{
    background-color: #FFFFFF;
    font-size: 15px;
    color: #666666;
}
.cajas{
    display: flex;
    justify-content: center;
    align-content: center;

}
.card1{
    
    background-color: #FBFAF6;
    width: 30%;
    text-align: center;
}

.cardProductName{
    color: #3C2313;
    font-size: 15px;
    font-weight: 500;
}
.cardPrice{
    color: #F0A83E;
    font-weight: 500;
    font-size: 15px;
    height: 19.64px;
    line-height: 18px;
    width: 39.15px;
}
/***** Form *****/
div form{
    position: relative;
    
    display:block;
}
.contacs{
    color: #3C2313;
    font-weight: bold;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 340px;
    text-align: center;
}
.contacs h3{
    position: relative;
    width: 143px;
    height: 29px;
    left: 448px;
    top: 1110px;
}
.contacs input{
    font-size: 9px;
    background-color:  #3C2313;
    color: #FFFFFF;
    border-radius: 15px;
    font-weight: 400px;
    width: 340px;
    height: 40px;
    margin-bottom: 10px;
}
.contacs input .c1{
    position: relative;
    height: 40px;
    width: 340px;
    left: 343px;
    top: 1159px;
}
.contacs input .c2{
    position: relative;
    height: 40px;
    width: 340px;
    left: 343px;
    top: 1209px;

}
.contacs input .c3{
    position: relative;
    height: 40px;
    width: 340px;
    left: 343px;
    top: 1259px;

}
form input[type=submit] {
    background-color: #F0A83E;
    border-style: none;
    color: #FFFFFF;
    font-weight: 400px;
}
form input[type=submit]:hover {
    background-color: #8A8787;
    border-style: none;
    color: #FFFFFF;
}
form input[type=reset] {
    background-color: #F0A83E;
    border-style: none;
    color: #fff;
}
form input[type=reset]:hover {
    background-color: #8A8787;
    border-style: none;
    color: #fff;
}
.contactUs ::placeholder{ 
    color: #FFFFFF
}
/***** Subscribe banner *****/
.subscribe{
    background-color:  #F0A83E;
    color:  #F3F3F3;
    font-size: 20px;
    height: 62px;
    font-weight: 700;
    height: 60px;
    display: flex;
}
.subscribe input{
    background-color:  #FFFFFF;
    border-radius: 15px;
    border-style: none;
    color: #A0A0A0;
    font-size: 9px;
    font-weight: 400px;
    width: 271px;
    height: 40px;

}
.subscribe input[type=submit]{
    background-color:  #3C2313;
    color: #FFFFFF;
    height: 35px;
    width: 70px;
}
.subscribe ::placeholder{ 
    color: #A0A0A0;
    border-style: none;
}
/****** Footer *****/
footer{
    background-color:   #3C2313;
    color:  #F3F3F3;
    height: 284px;
    display: block;
}
.info{
    font-weight: 700;
    text-align: left;
}
.footerElement{
    Width: 179px;
    Height: 66px;
    margin:auto;
}
.infoName{
    font-size: 20px;
}
.infoData{
    font-size: 10px;
    color: #8A8787;
}
.copyright{
    background-color: black;
    border-style: none;
    color: #F3F3F3;
    font-size: 10px;
    height: 20px;
}